.stamping-main{
  height: 300px;
  width: 100%;
  background-color:gainsboro;
}

.stamping-form{
  height: 90px;
  width: 100%;
  padding: 20px 40px;
  background-color:#d2d2d2;
}

.stamping-form-main{
  position: relative;
  width: 100%;
  background-color: white;
}